<div class='card'>
    <div class='card-body'>
        <h3 class='card-title'>Login</h3>
        <%= form_with url: login_path, scope: :user do |f| %>
            <% if @login_error %>
                <div class='alert alert-danger'>
                    Invalid email or password. If you forgot your password<br />
                    <%= link_to "you can reset it here", new_password_reset_path %>
                </div>
                <br />
            <% end %>
            <div>
                <%= f.label :email, nil, class: 'form-label' %>
                <%= f.email_field :email, required: true, class: 'form-control' %>
            </div>
            <div>
                <%= f.label :password, nil, class: 'form-label' %>
                <%= f.password_field :password, required: true, class: 'form-control' %>
            </div>
            <div>
                <%= f.label :remember_me, nil, class: 'form-check-label' %>
                <%= f.check_box :remember_me, class: 'form-check-input' %>
            </div>
            <%= f.submit "Sign In", class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>
