<%= form_with url: password_reset_path(params[:password_reset_token]), scope: :user, method: :put do |f| %>
    <div class='mb-3'>
        <%= f.label :password, "New Password", class: 'form-label' %>
        <%= f.password_field :password, required: true, class: 'form-control' %>
    </div>
    <div>
        <%= f.label :password_confirmation, "Confirm New Password", class: 'form-label' %>
        <%= f.password_field :password_confirmation, required: true, class: 'form-control' %>
    </div>
    <%= f.submit "Update Password", class: 'btn btn-success' %>
<% end %>