<div id="remove-modal<%= piggybank.id %>" class="modal fade" tabindex="-1" aria-labelledby="removeModalLabel<%= piggybank.id %>" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h1 class='modal-title fs-5' id='removeModalLabel<%= piggybank.id %>'>Remove money from Piggybank: <%= piggybank.name %></h1>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <%= form_with model: piggybank, url: piggybank_withdraw_path(piggybank), method: :put do |f| %>
                    <%= f.number_field :amount, class: 'form-control' , step: 0.01 %>
            </div> <!-- close .modal-body -->
            <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-bs-dismiss='modal' data-bs-target='remove-modal<%= piggybank.id %>'>Cancel</button>
                    <%= f.submit 'Remove', class: 'btn btn-primary' %>
                <% end %> <%# form ends here %>
            </div> <!-- close .modal-footer' -->
        </div>
    </div>
</div>

<div id="add-modal<%= piggybank.id %>" class="modal fade" tabindex="-1" aria-labelledby="removeModalLabel<%= piggybank.id %>" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h1 class='modal-title fs-5' id='removeModalLabel<%= piggybank.id %>'>Add money to Piggybank: <%= piggybank.name %></h1>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <%= form_with model: piggybank, url: piggybank_deposit_path(piggybank), method: :put do |f| %>
                    <%= f.number_field :amount, class: 'form-control', step: 0.01 %>
            </div> <!-- close .modal-body -->
            <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
                    <%= f.submit 'Add', class: 'btn btn-primary' %>
                <% end %> <%# form ends here %>
            </div> <!-- close .modal-footer' -->
        </div>
    </div>
</div>