<div class='col-sm-6 col-md-4 mt-1'>
    <div class='card'>
        <div class='card-body'>
            <div class='row align-items-center'>
                <h3 class='card-title col-9'><%= piggybank.name %></h3>
                <%= link_to edit_piggybank_path(piggybank), class: 'col-1 offset-1' do %>
                    <span class='bi bi-pencil'></span>
                <% end %>
            </div>
            <div class='row align-items-center'>
                <div class='col-sm-1'>
                    <button class='btn btn-sm' type='button' data-bs-target='#remove-modal<%= piggybank.id %>' data-bs-toggle='modal'>
                        <span class='bi bi-dash-square'></span>
                    </button>
                </div>
                <span class='col-auto offset-1'>
                    <%= number_to_currency(piggybank.current_amount) %> / <%= number_to_currency(piggybank.goal_amount) %>
                </span>
                <div class='col-sm-1'>
                    <button class='btn btn-sm' type='button' data-bs-target='#add-modal<%= piggybank.id %>' data-bs-toggle='modal'>
                        <span class='bi bi-plus-square'></span>
                    </button>
                </div>
            </div>
            <div class='progress mb-1' role='progressbar' aria-label='<%= piggybank.name %> Progress Bar' aria-valuenow='<%= piggybank.current_amount %>' 
                aria-valuemin='0' aria-valuemax='<%= piggybank.goal_amount %>'
            >
                <div class='progress-bar progress-bar-striped bg-success' style='width: <%= piggybank.current_percent %>%'><%= piggybank.current_percent %>%</div>
            </div>
        </div>
    </div>
</div>
<%= render partial: "piggybanks/addremovepopouts", locals: {piggybank: piggybank} %>