<div class='card'>
    <div class='card-body'>
        <h3 class='card-title'>New Goal</h3>
        <%= form_with model: @goal, url: create_piggybanks_path do |f| %>
            <%= render partial: "shared/form_errors", locals: { object: f.object } %>
            <div class='mb-3'>
                <%= f.label :name, nil, class: 'form-label' %>
                <%= f.text_field :name, required: true, class: 'form-control' %>
            </div>
            <div class='mb-3'>
                <%= f.label :goal_amount, "Amount to Save", class: 'form-label' %>
                <%= f.number_field :goal_amount, required: true, step: 0.01, class: 'form-control' %>
            </div>
            <div class='mb-3'>
                <%= f.label :current_amount, "Starting Amount: ", class: 'form-label' %>
                <%= f.number_field :current_amount, step: 0.01, class: 'form-control' %>
            </div>
            <%= f.submit 'Save Goal', class: 'btn btn-outline-primary' %>
            <%= link_to 'Cancel', app_path, class: 'btn btn-outline-danger' %>
        <% end %>
    </div>
</div>