<div class='card'>
  <div class='card-body'>
    <h3 class='card-title'>Recently Deleted Goals</h3>
    <p>Only goals deleted within the last 30 days are shown</p>
    <table class='table table-striped table-hover table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Goal Amount</th>
          <th>Current Amount</th>
          <th>Exclude from Totals?</th>
          <th></th>
        </tr>
      </thead>
      <tbody class='table-group-divider'>
        <% @deleted_piggybanks.each do |pb| %>
          <tr>
            <td><%= pb.name %></td>
            <td><%= number_to_currency(pb.goal_amount) %></td>
            <td><%= number_to_currency(pb.current_amount) %></td>
            <td><%= pb.exclude_from_totals %></td>
            <td>
              <%= button_to restore_piggybank_path(pb), method: :put, data: {turbo_method: :post}, class: 'btn btn-success mt-1' do %>
                Restore
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>