<div class='card'>
    <div class='card-body'>
        <h2 class='card-title'>Update Information</h2>
        <%= form_with model: @user, url: account_path, method: :put do |f| %>
            <%= render partial: "shared/form_errors", locals: { object: f.object } %>
            <div class='md-3'>
                <%= f.label :email, "Current Email Address", class: 'form-label' %>
                <%= f.email_field :email, disabled: true %>
            </div>
            <div class='md-3'>
                <%= f.label :unconfirmed_email, "New Email Address", class: 'form-label' %>
                <%= f.email_field :unconfirmed_email, class: 'form-control' %>
            </div>
            <div class='md-3'>
                <%= f.label :password, "Password (leave blank if you don't want to change it)", class: 'form-label' %>
                <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class='md-3'>
                <%= f.label :password_confirmation, "Confirm New Password", class: 'form-label' %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class='md-3'>
                <%= f.label :current_password, "Current Password (required for all changes)", class: 'form-label' %>
                <%= f.password_field :current_password, required: true, class: 'form-control' %>
            </div>
            <br />
            <%= f.submit "Update account" %>
        <% end %>  
    </div>
</div>
<div class='card mt-4'>
    <div class='card-body'>
        <h2 class='card-title'>Dark/Light Mode</h2>
        <div class='dropdown'>
            <button class="btn btn-sm dropdown-toggle align-items-center h-25"
                    id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    aria-label="Toggle theme (auto)">
            <svg class="bi theme-icon-active"><use href="#circle-half"></use></svg>
            <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="bd-theme-text">
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                        <svg class="bi me-2 opacity-50 theme-icon"><use href="#sun-fill"></use></svg>
                        Light
                        <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                        <svg class="bi me-2 opacity-50 theme-icon"><use href="#moon-stars-fill"></use></svg>
                        Dark
                        <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                        <svg class="bi me-2 opacity-50 theme-icon"><use href="#circle-half"></use></svg>
                        Auto
                        <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class='card mt-4'>
    <div class='card-body'>
        <h2 class='card-title'>Current Logins</h2>
        <% if @active_sessions.any? %>
            <%= button_to "Log out ALL sessions", destroy_all_active_sessions_path, method: :delete, class: 'btn btn-danger' %>
            <table class='table table-striped md-3'>
                <thead>
                    <tr>
                        <th scope='col'>User Agent</th>
                        <th scope='col'>IP Address</th>
                        <th scope='col'>Signed In At</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render @active_sessions %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check2" viewBox="0 0 16 16">
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
  <symbol id="circle-half" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
  </symbol>
  <symbol id="moon-stars-fill" viewBox="0 0 16 16">
    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
  </symbol>
  <symbol id="palette2" viewBox="0 0 16 16">
    <path d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 .5.5v5.277l4.147-4.131a.5.5 0 0 1 .707 0l3.535 3.536a.5.5 0 0 1 0 .708L10.261 10H15.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5H3a2.99 2.99 0 0 1-2.121-.879A2.99 2.99 0 0 1 0 13.044m6-.21 7.328-7.3-2.829-2.828L6 7.188v5.647zM4.5 13a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zM15 15v-4H9.258l-4.015 4H15zM0 .5v12.495V.5z"/>
    <path d="M0 12.995V13a3.07 3.07 0 0 0 0-.005z"/>
  </symbol>
  <symbol id="sun-fill" viewBox="0 0 16 16">
    <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
  </symbol>
</svg>