<!DOCTYPE html>
<html>
  <head>
    <title>Banksy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class='alert'>
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <div id="user_header">
      <%= link_to "Sign Up", sign_up_path %>
    </div>
    <%= yield %>
  </body>
</html>
